In [54]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter

## Задание 1

Какова вероятность отправиться на прогулку если идёт дождь, при наличии следующих наблюдений?

```
data = [
        ('солнечно', True),
        ('снег', False),
        ('облачно', False),
        ('дождь', False),
        ('солнечно', True),
        ('снег', False),
        ('облачно', True),
        ('снег', False),
        ('солнечно', False),
        ('облачно', True),
        ('снег', True),
        ('солнечно', True),
        ('дождь', False),
        ('дождь', True),
        ('облачно', True),
]
```

In [55]:
data = [
        ('солнечно', True),
        ('снег', False),
        ('облачно', False),
        ('дождь', False),
        ('солнечно', True),
        ('снег', False),
        ('облачно', True),
        ('снег', False),
        ('солнечно', False),
        ('облачно', True),
        ('снег', True),
        ('солнечно', True),
        ('дождь', False),
        ('дождь', True),
        ('облачно', True),
]
df = pd.DataFrame(data, columns=['weather', 'stroll'])
df

     weather  stroll
0   солнечно    True
1       снег   False
2    облачно   False
3      дождь   False
4   солнечно    True
5       снег   False
6    облачно    True
7       снег   False
8   солнечно   False
9    облачно    True
10      снег    True
11  солнечно    True
12     дождь   False
13     дождь    True
14   облачно    True

In [56]:
p_rain =  len(df.loc[df['weather'] == 'дождь']) / len(df)
p_stroll = len(df.loc[df['stroll'] == True]) / len(df)
p_rain_if_stroll = len(df.loc[(df['weather'] == 'дождь') & (df['stroll'] == True)]) / len(df.loc[df['stroll'] == True])
p_stroll_if_rain = (p_stroll*p_rain_if_stroll)/p_rain
print(f"Вероятность отправиться на прогулку если идёт дождь: {p_stroll_if_rain}")

Вероятность отправиться на прогулку если идёт дождь: 0.3333333333333333

## Задание 2

- загрузите датасет для классификации, проведите предобработку, выделите целевой признак и предикторы, разбейте данные на обучающую и тестовую выборку;
- Масштабируйте числовые признаки
- В случае дисбаланса проведите балансировку
- решите задачу классификации на ваших данных с использованием рассмотренных моделей sklearn: knn, NB, Logistic Regression, SVM. Не забудьте подобрать гиперпараметры.
- вычислите значения метрик Accuracy, Precision, Recall, F1, ROC AUC score

In [57]:
data= pd.read_csv("../data/csgo_task.csv")
data

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,ct_helmets,t_helmets,ct_defuse_kits,ct_players_alive,t_players_alive
0,175.00,0.0,0.0,de_dust2,False,500.0,500.0,0.0,0.0,4000.0,4000.0,0.0,0.0,0.0,5.0,5.0
1,156.03,0.0,0.0,de_dust2,False,500.0,500.0,400.0,300.0,600.0,650.0,0.0,0.0,1.0,5.0,5.0
2,96.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,500.0,0.0,0.0,1.0,4.0,4.0
3,76.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,500.0,0.0,0.0,1.0,4.0,4.0
4,174.97,1.0,0.0,de_dust2,False,500.0,500.0,192.0,0.0,18350.0,10750.0,0.0,0.0,1.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122405,15.41,11.0,14.0,de_train,True,200.0,242.0,195.0,359.0,100.0,5950.0,2.0,4.0,1.0,2.0,4.0
122406,174.93,11.0,15.0,de_train,False,500.0,500.0,95.0,175.0,11500.0,23900.0,1.0,2.0,1.0,5.0,5.0
122407,114.93,11.0,15.0,de_train,False,500.0,500.0,495.0,475.0,1200.0,6700.0,3.0,5.0,1.0,5.0,5.0
122408,94.93,11.0,15.0,de_train,False,500.0,500.0,495.0,475.0,1200.0,6700.0,3.0,5.0,1.0,5.0,5.0
122409,74.93,11.0,15.0,de_train,False,375.0,479.0,395.0,466.0,1100.0,7000.0,2.0,5.0,1.0,4.0,5.0

In [58]:
data.isnull().any().sum()

7

In [59]:
data.drop_duplicates(inplace=True)
data.dropna(inplace=True)
data.dtypes

time_left           float64
ct_score            float64
t_score             float64
map                  object
bomb_planted           bool
ct_health           float64
t_health            float64
ct_armor            float64
t_armor             float64
ct_money            float64
t_money             float64
ct_helmets          float64
t_helmets           float64
ct_defuse_kits      float64
ct_players_alive    float64
t_players_alive     float64
dtype: object

In [60]:
data['bomb_planted'] = (~data['bomb_planted']).astype(np.byte)
d = data.groupby(['map', 'bomb_planted'])['bomb_planted'].count()
d

map          bomb_planted
de_cache     0                  10
             1                 128
de_dust2     0                2593
             1               17766
de_inferno   0                2984
             1               19062
de_mirage    0                2003
             1               15016
de_nuke      0                1780
             1               15436
de_overpass  0                1305
             1               11638
de_train     0                1360
             1               11003
de_vertigo   0                1172
             1                9215
Name: bomb_planted, dtype: int64

In [61]:
data_new = pd.get_dummies(data, columns=['map'])
data_new

,time_left,ct_score,t_score,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,...,ct_players_alive,t_players_alive,map_de_cache,map_de_dust2,map_de_inferno,map_de_mirage,map_de_nuke,map_de_overpass,map_de_train,map_de_vertigo
0,175.00,0.0,0.0,1,500.0,500.0,0.0,0.0,4000.0,4000.0,...,5.0,5.0,0,1,0,0,0,0,0,0
1,156.03,0.0,0.0,1,500.0,500.0,400.0,300.0,600.0,650.0,...,5.0,5.0,0,1,0,0,0,0,0,0
2,96.03,0.0,0.0,1,391.0,400.0,294.0,200.0,750.0,500.0,...,4.0,4.0,0,1,0,0,0,0,0,0
3,76.03,0.0,0.0,1,391.0,400.0,294.0,200.0,750.0,500.0,...,4.0,4.0,0,1,0,0,0,0,0,0
4,174.97,1.0,0.0,1,500.0,500.0,192.0,0.0,18350.0,10750.0,...,5.0,5.0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122405,15.41,11.0,14.0,0,200.0,242.0,195.0,359.0,100.0,5950.0,...,2.0,4.0,0,0,0,0,0,0,1,0
122406,174.93,11.0,15.0,1,500.0,500.0,95.0,175.0,11500.0,23900.0,...,5.0,5.0,0,0,0,0,0,0,1,0
122407,114.93,11.0,15.0,1,500.0,500.0,495.0,475.0,1200.0,6700.0,...,5.0,5.0,0,0,0,0,0,0,1,0
122408,94.93,11.0,15.0,1,500.0,500.0,495.0,475.0,1200.0,6700.0,...,5.0,5.0,0,0,0,0,0,0,1,0
122409,74.93,11.0,15.0,1,375.0,479.0,395.0,466.0,1100.0,7000.0,...,4.0,5.0,0,0,0,0,0,0,1,0

In [62]:
data = data_new.drop(['ct_helmets', 't_helmets', 'ct_defuse_kits', 'bomb_planted', 'ct_armor', 't_armor'], axis=1)
X = data.values
X[:5]

array([[1.7500e+02, 0.0000e+00, 0.0000e+00, 5.0000e+02, 5.0000e+02,
        4.0000e+03, 4.0000e+03, 5.0000e+00, 5.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00],
       [1.5603e+02, 0.0000e+00, 0.0000e+00, 5.0000e+02, 5.0000e+02,
        6.0000e+02, 6.5000e+02, 5.0000e+00, 5.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00],
       [9.6030e+01, 0.0000e+00, 0.0000e+00, 3.9100e+02, 4.0000e+02,
        7.5000e+02, 5.0000e+02, 4.0000e+00, 4.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00],
       [7.6030e+01, 0.0000e+00, 0.0000e+00, 3.9100e+02, 4.0000e+02,
        7.5000e+02, 5.0000e+02, 4.0000e+00, 4.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00],
       [1.7497e+02, 1.0000e+00, 0.0000e+00, 5.0000e+02, 5.0000e+02,
        1.8350e+04, 1.0750e+04, 5.0000e+00, 5.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00]])

In [63]:
y = data_new['bomb_planted'].values
y[0:5]

array([1, 1, 1, 1, 1], dtype=int8)

In [64]:
print(f"Количество объектов классов: 0 и 1 до андерсемплинга {Counter(y)}")

Количество объектов классов: 0 и 1 до андерсемплинга Counter({1: 99264, 0: 13207})

In [65]:
underSampler = RandomUnderSampler(random_state=42)
X_under_sample, y_under_sample = underSampler.fit_resample(X,y)
print(f"Количество объектов классов: 0 и 1 после андерсемплинга {Counter(y_under_sample)}")

Количество объектов классов: 0 и 1 после андерсемплинга Counter({0: 13207, 1: 13207})

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X_under_sample, y_under_sample, test_size=0.2, random_state=4)

In [67]:
data.describe()

,time_left,ct_score,t_score,ct_health,t_health,ct_money,t_money,ct_players_alive,t_players_alive,map_de_cache,map_de_dust2,map_de_inferno,map_de_mirage,map_de_nuke,map_de_overpass,map_de_train,map_de_vertigo
count,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000,112471.000000
mean,94.053707,6.779232,6.836820,407.871336,397.851153,10022.127926,11522.460012,4.238915,4.229215,0.001227,0.181016,0.196015,0.151319,0.153071,0.115079,0.109922,0.092353
std,52.984146,4.802931,4.832594,134.024392,141.702350,11275.465347,12224.426788,1.223794,1.248301,0.035007,0.385033,0.396982,0.358361,0.360057,0.319118,0.312793,0.289524
min,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,54.900000,3.000000,3.000000,332.000000,306.000000,1300.000000,1650.000000,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,94.870000,6.000000,6.000000,500.000000,499.000000,6000.000000,7750.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,114.960000,10.000000,11.000000,500.000000,500.000000,15100.000000,18400.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,175.000000,32.000000,33.000000,500.000000,600.000000,80000.000000,80000.000000,5.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [68]:
standardScaler = StandardScaler()
standardScaler.fit(X_train)
X_train_std = pd.DataFrame(standardScaler.transform(X_train), columns=data.columns)
X_test_std = pd.DataFrame(standardScaler.transform(X_test), columns=data.columns)
X_train_std.describe()

,time_left,ct_score,t_score,ct_health,t_health,ct_money,t_money,ct_players_alive,t_players_alive,map_de_cache,map_de_dust2,map_de_inferno,map_de_mirage,map_de_nuke,map_de_overpass,map_de_train,map_de_vertigo
count,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04,2.113100e+04
mean,9.881221e-14,-1.055844e-16,9.583298e-17,-1.062569e-16,-5.867669e-17,8.070146e-18,-2.622797e-17,-5.581851e-17,-2.992679e-17,1.967098e-17,6.893250e-17,-1.277773e-17,9.213417e-17,-1.815783e-17,-8.112178e-17,5.783605e-17,2.219290e-17
std,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00
min,-1.184094e+00,-1.385997e+00,-1.414406e+00,-1.857120e+00,-1.981663e+00,-7.673011e-01,-8.710393e-01,-1.500982e+00,-2.411619e+00,-3.300961e-02,-4.808274e-01,-5.106853e-01,-4.219807e-01,-4.094534e-01,-3.496544e-01,-3.451205e-01,-3.224365e-01
25%,-7.470871e-01,-7.624166e-01,-7.852905e-01,-8.771839e-01,-7.735244e-01,-6.795151e-01,-7.390459e-01,-8.585032e-01,-4.254453e-01,-3.300961e-02,-4.808274e-01,-5.106853e-01,-4.219807e-01,-4.094534e-01,-3.496544e-01,-3.451205e-01,-3.224365e-01
50%,-4.965193e-01,-1.388358e-01,-1.561749e-01,-5.956828e-02,1.157148e-01,-4.213209e-01,-3.840291e-01,-2.160244e-01,2.366126e-01,-3.300961e-02,-4.808274e-01,-5.106853e-01,-4.219807e-01,-4.094534e-01,-3.496544e-01,-3.451205e-01,-3.224365e-01
75%,5.806621e-01,6.926052e-01,6.826460e-01,1.142808e+00,1.084679e+00,3.222783e-01,4.215859e-01,1.068933e+00,8.986706e-01,-3.300961e-02,-4.808274e-01,-5.106853e-01,-4.219807e-01,-4.094534e-01,-3.496544e-01,-3.451205e-01,-3.224365e-01
max,2.068641e+00,5.265531e+00,5.505866e+00,1.142808e+00,1.084679e+00,7.494912e+00,6.411356e+00,1.068933e+00,8.986706e-01,3.029421e+01,2.079748e+00,1.958153e+00,2.369777e+00,2.442280e+00,2.859967e+00,2.897539e+00,3.101386e+00

In [69]:
minMaxScaler = MinMaxScaler()
minMaxScaler.fit(X_train)
X_train_mms = pd.DataFrame(minMaxScaler.transform(X_train), columns=data.columns)
X_test_mms = pd.DataFrame(minMaxScaler.transform(X_test), columns=data.columns)
X_train_mms.describe()

,time_left,ct_score,t_score,ct_health,t_health,ct_money,t_money,ct_players_alive,t_players_alive,map_de_cache,map_de_dust2,map_de_inferno,map_de_mirage,map_de_nuke,map_de_overpass,map_de_train,map_de_vertigo
count,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000,21131.000000
mean,0.364030,0.208373,0.204386,0.619055,0.646263,0.092869,0.119609,0.584059,0.728522,0.001088,0.187781,0.206852,0.151152,0.143581,0.108939,0.106431,0.094174
std,0.307441,0.150345,0.144506,0.333349,0.326129,0.121036,0.137321,0.389127,0.302096,0.032974,0.390546,0.405058,0.358206,0.350672,0.311571,0.308396,0.292078
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.134351,0.093750,0.090909,0.326653,0.394000,0.010625,0.018125,0.250000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.211384,0.187500,0.181818,0.599198,0.684000,0.041875,0.066875,0.500000,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.542545,0.312500,0.303030,1.000000,1.000000,0.131875,0.177500,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000